.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #d6c3b0;
  border: 1px solid #d6c3b0;
  color: #ffffff;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #776c62;
  border-color: #776c62;
}
